---
layout: home
title: Bitácora del Yuyar
permalink: /bitacora/
pagination:
  enabled: true
---
<h1 class="page-heading">Bitácora</h1>
<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="order-button prev">Anterior</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="order-button next">Siguiente</a>
  {% endif %}
</div>

<style>
.page-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
}

.order-button {
    display: block;
    margin: 4px auto;
    padding: 8px 16px;
    background-color: #46ff51;
    color: #333333;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.order-button:hover {
    background-color: #ffffff;
}

.post-list {
    margin: 0 20px;
    text-align: center;
    list-style: none;
    padding: 0;
}

.pagination {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.pagination .order-button {
    display: inline-block;
    margin: 0 4px;
}

.prev {
    float: left;
}

.next {
    float: right;
}
</style>
