<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | El Yuyar</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon192x192.png">
  </head>
  <body>
    <header class="custom-header">
      <h1 class="header-title"><a href="/">El Yuyar</a></h1>
    </header>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
